<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>counter</key>
		<integer>6</integer>
		<key>attacks</key>
		<array/>
		<key>targetScore</key>
		<integer>10</integer>
		<key>imageName</key>
		<string>mewtwo</string>
		<key>name</key>
		<string>mewtwo</string>
	</dict>
	<dict>
		<key>counter</key>
		<integer>2</integer>
		<key>attacks</key>
		<array>
			<dict>
				<key>type</key>
				<string>elementAbsorb</string>
				<key>element</key>
				<string>3</string>
			</dict>
		</array>
		<key>targetScore</key>
		<integer>60</integer>
		<key>imageName</key>
		<string>pikachu</string>
		<key>name</key>
		<string>pikachu</string>
	</dict>
</array>
</plist>
